

.App {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../pics/code.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper{
  width: 80%;
  margin-top: 3%;
  padding: 2% 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}




h1{
  color:white;
  font-size: 80px;
}


