.course{
    margin: 5px;
    width: 200px;
    height: 250px;
    background-color: #F0F8FF;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color:#A9A9A9;
    font-size: 30px;
}

button{
    height: 50px;
    cursor: pointer;
    background-color: #696969;
    color: white;
    font-size: 20px;
}

button:hover{
    background-color: #3a3939;
}

.course > span{
    color:#070e33;
    cursor: pointer;
}

.course > span:hover{
    color: #7e7e80;
    
}
